* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none
}

:root {
    --main-color: #eb0028;
    --second-color: #8a8a8a;
}

body{
    overflow-x: hidden;
}
.top {
    padding: 10px;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}
.top{
    color: #fff;
}

.loading{
    position: fixed;
    width: 100%;
    height: 100vh;
background-color: #ffff;
display: flex;
justify-content: center; 
align-items: center;
z-index: 100000;
}
.loading img{
    width: 200px;
}


.remove {
    display: none;
}

.top .close {
    color: white;
    background-color: none;
}

.top .close:hover {
    color: var(--main-color);
}

 .navbar .nav-link{
    color: #8a8a8a;
 }
 .navbar .nav-link:hover{
    color: #eb0028;
 }
.navbar .dropdown-menu img{
    width: 200px;
}
.navbar .dropdown-menu.show{
    display: flex;
  
}
@media(max-width:800px){
    .navbar .dropdown-menu.show{
        display: flex;
        flex-wrap: wrap;
      
    } 
} 


.navbar .dropdown-menu{
    box-shadow: 0 3px 6pc rgba(0, 0, 0,0.32);
    border: none;
    padding: 0.3rem;
}
.navbar .dropdown-menu li:first-child a{
   font-weight: bold;
   font-size: 1.2rem;
}
.navbar .menu-flag img{
width: 30px;
}
.navbar .menu-flag li{
    font-size: 13px;
    }
    
.carousel{
    width: 100vw;
    position: relative;
}
.carousel-caption{
    position: relative;
    top: 10% !important;
    left: 15% !important;
    width: 100%;
}
.carousel-item .carousel-2{
    top:10% !important;
    left:-18% !important;
    width:100% !important
}
@media(max-width:900px){
    html{
        font-size: 10px;
    }
}
.carousel-item .imgs{
width: 100%;
object-fit: cover;
}
.carousel-item .btn-slider{
background-color: #000000;
border: 1px solid #fff;
color:#fff;
padding:  15px 20px;
font-size: 18px;
border-radius:50px;
width: 190px;
}

.carousel-item .btn-slider:hover{
    background-color:#eb0028 !important;
    color:#fff !important;
    }

   .carousel-control-next-icon,
 .carousel-control-prev-icon {
      width: 3rem;
      height: 3rem;
      background-color: #000000 !important;
      color: #fff;
      border-radius: 50%;
      padding: 20px;
      box-shadow: 3px 2px 10px #fff;
  }
  
  .carousel-control-next-icon:hover,
  .carousel-control-prev-icon:hover{
    background-color:#eb0028 !important ;
  }
.carousel-item h5{
    font-size: 5.25rem !important;

}
.carousel-item p{
    font-size: 2.1rem !important;
}
.under-slider {
    background-color: #8a8a8a38;
}

.under-slider .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.under-slider .content p {
    font-weight: 700;
}

.under-slider .content img {
    width: 60px;
    height: 60px;
}
.performance .card {
    border: none;
    transition: 0.8s all ease-in-out;
}

.performance .p-card {
    font-weight: bold;
    font-size: 20px;
}

.performance p {
    font-weight: 500;
    font-size: 16px;
}

.performance .card-img-top {
    width: 120px;
    margin: auto;
    transition: 0.8s all;
}

.power{
    margin-bottom: 150px !important;
}
.power .main{
    position: relative;

}
.power .main .pointsss{

    display: flex !important;
    justify-content:space-around !important;
    align-items: center !important;
}
.power .main .pointsss .line{
    position: absolute;
    width: 5px ;
    background-color: #000;
    height: 130px;
  
    top: 65%;
    left: 13%;
    border-radius: 5px;
}

.power .main .pointsss .line1{
    position: absolute;
    width: 5px ;
    background-color: #000;
    height: 100px;
    top: 65%;
    left: 39%;
    border-radius: 5px;
}

.power .main .pointsss .line2{
    position: absolute;
    width: 5px ;
    background-color: #000;
    height: 110px;
    border-radius: 5px;
    top: 65%;
    left: 63%;
}

.power .main .pointsss .line3{
    position: absolute;
    width: 5px ;
    background-color: #000;
    height: 130px;
    top: 65%;
    left: 89%;
    border-radius: 5px;
}


.power .dot{
   position: absolute;
   top: 58%;
   z-index: 4;

}
.power .delaties{
    margin-top: 100px;
    width: 150px;
}

.features .feat1{
    display: flex;
    justify-content: center;
    align-items: center;
   gap: 10px;
  transition: 0.8s all ease-in-out;
}
.features .feat1 p{
    color: var(--second-color);
    transition: 0.8s all ease-in-out;
}
.features .feat1 h5:hover, .features .feat1 p:hover{
    cursor: pointer;
    color: #eb0028 !important;
    font-weight: 600;
}
.features .feat1 img{
    width: 100px;
    height: 80px;
    transition: 0.8s all  ease-in-out;
}

.features .feat1 img:hover,.performance .card-img-top:hover {
    transform: scale(1.1);

}

.accordions {
    background-color: #000000;
    color: white;
    padding: 20px;
}
    
.accordion .accordion-item {
    background-color: transparent !important;
    color: white;
    border: none;
    border-bottom: 1px solid #fff;
    padding: 10px;
 
}

.accordion .imgss img{
    max-width: 100% !important;
}
    

.accordion .accordion-header .accordion-button {
    background-color: transparent !important;
    color: white;
   
}  
.showww {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    color: #8a8a8a;
    margin-top: 200px;
}
.sec-arrives .slide-container{
    max-width: 1120px;
    width: 100%;
    transition: 0.9s border;
   
}
.sec-arrives{
    height: 1000px;
}


.cards img{
    height: 250px;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.card-contents{
    display: flex;      
    align-items: center;
    flex-direction: column;
    padding: 10px 14px;
    background-color:#eee ;
    border-radius: 15px;
}

.sec-arrives .slide-cont{
    margin:  0 40px;
    overflow: hidden;
}

.sec-arrives .card{
    border-radius: 10px;
    transition:.8s all ease-in-out;
    transition-duration: .8s;
    transition-delay: 0.3s;
    border: 2px solid #eee;
}

 .sec-arrives .cards:hover{
    border-radius: 20px;
border: 2px solid #eb0028;

 }

.sec-arrives .swiper-button-next,.sec-arrives .swiper-button-prev{
    background-color: #000000;
    font-size: 15px;
    color: #fff;
    padding: 25px;
    border-radius: 50%;
}

.sec-arrives .swiper-button-next:hover,.swiper-button-prev:hover{
    background-color: #eb0028;
    color: #fff;
}
.sec-arrives .card-contents h3{
    color: #eb0028;
}
.card-contents  .icons .icon{
    color: #8a8a8a;
}
.card-contents .pricss{
    color: #eb0028;
    font-size: 22px;
}

footer{
    background-color: var(--main-color);
    color: white;
    padding: 15px;
    text-align: center;
    width: 100vw;
}